services:
  fastapi-app:
    image: loantap-fastapi
    ports:
      - "8000:8000"
    networks:
      - app-network

  streamlit-app:
    image: loantap-streamlit
    ports:
      - "8501:8501"
    depends_on:
      - fastapi-app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge